@model WebAPIFrontEnd.Models.NationalPark
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Id != 0 ? "Edit National Park" : "Add National Park";
    var saveupdate = Model.Id != 0 ? "Update" : "Save";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="@Model.Id" />
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row border">
        <div class="col-10 m-2 p-2">
            <h2 class="text-secondary border-bottom">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row m-2 p-2">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2 p-2">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2 p-2">
                <div class="col-4">
                    <label asp-for="Picture"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="file" id="image" multiple class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2 p-2">
                <div class="col-4">
                    <label asp-for="Established"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Established" id="datePicker" class="form-control" />
                    <span asp-validation-for="Established" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group m-2 p-2">
                <div class="col-4 offset-4">
                    <button class="btn btn-secondary form-control" type="submit">
                        @saveupdate
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-primary form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </div>

        <div class="col-4">
            @if (Model.Picture != null)
            {
                var base64 = Convert.ToBase64String(Model.Picture);
                var imagesrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imagesrc" width="100%">
            }
            
        </div>
    </div>
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function (){
        $("datePicker").datepicker({
            changeMonth:true,
            changeDate:true
        })
        })
    </script>
}